/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}
body{
    gap: 30px;
    max-width:1440px ;
    margin: auto;
    min-width: 310px;
}
main {
    gap: 30px;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}
p{
    margin: 0px;
}
.main-container {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
    padding: 0 50px;

}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img{
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Classes utiles *******/
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex{
    display: flex;
}

/****** Navigation ********/
nav{
    justify-content: space-between;
    margin-right: 48px;
}
nav ul { 
    list-style: none;
    gap: 68px
}

nav img{
    padding: 30px;
    width: 62px;
    height: 19px;
    margin-left: 18px;
    
}

nav ul li a {
    padding-top: 13px;
}
nav ul li a:hover {
    color: #0065FC;
    border-top: 2px #0065FC solid
    
}

/****** Header *****/
h1{
    font-size: 22px;
}
header{
    margin-bottom: 30px;
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}
/***** recherche *****/
.recherche{
    align-items: center;
    margin-top: 35px;
}
.recherche input{
    font-size: 18px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-weight: 700;
    max-width: 190px;
    


    box-shadow: none;
    border-left: none;
    border-right: none;
    border-top: 1px #F2F2F2 solid;
    border-bottom:1px #F2F2F2 solid;
    text-align:center;
}
::placeholder{
    color: #000;
    
}

.logo-localisation i {
    color: #000;
    font-size: large;
}   
.logo-localisation {
    background-color: #F2F2F2;
    border-top-left-radius:15px ;
    border-bottom-left-radius:15px ;
    height: 49px;
    width: 50px;
  align-items: center;
  justify-content: center;
  border: 1px #F2F2F2 solid;
}

#btn-phone {
    display: none;
}
.recherche button{
    background-color: #0065FC;
    color: #FFFFFF;
    font-size: 18px;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 700;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 51px;
    text-align: center;
    border: 1px #0065FC solid;

}
/****filtres*****/


.filtres{
    list-style: none;
    gap: 10px;
    margin-top: 35px;
    
}
.filtres h2{
    font-size: 16px;
    margin: 0%;
}

.filtres-choix div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-left: 19px;
    padding-right: 19px;
    border: 2px #d9d9d9 solid;
    border-radius: 50px;
    height: 50px;
    
}
.filtres-choix{
    flex-wrap: wrap;
    gap: 10px;
}
.filtres-choix i{
    font-size: 20px;
}

.filtres-choix div:hover{
    background-color: #DEEBFF;
}

.info{
    gap: 8px;
    align-items: center;
    margin-top: 30px;
}
.info i {
    border: 1px #d9d9d9 solid;
    padding: 6px 10px;
    align-content: center;
    text-align: center;
    border-radius: 50px;
    font-size: small;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    gap:33px;
    width: 65%;
    background-color: #F2F2F2;
}
.hebergements h3{
    margin-bottom:0px;
    margin-top: 0px;
    font-size: 16px;
}
.hebergements-cards{
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 33px;
}
.hebergements a{
   width: 30%;
   max-width: 250.33px;
}

.card-description{
    padding-left: 15px;
    padding-right: 15px;
    gap : 8px;
}


.hebergements-cards article img{
    width: 100%;
    height: 120px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 4px;
}

#afficher-plus{
    margin-top: 8px;
}
/****** Populaires ***********/
.populaires {
    width: 32%;
    background-color: #F2F2F2;
}

.populaires-title {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 33px;
}

.populaires-cards{
    gap: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
/********** activités *************/
.activites{
    padding: 30px;
}

.activites .card{
    padding-top: 0%;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 5px;
    width: 25%;
}
.activites-cards .card img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 90%;
    object-fit:cover;
    width: 100%;
}
.activites-cards .card h3{
    font-size: 16px;
    align-content: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.activites-cards{
    gap:30px;
    margin-top: 30px;
}

/******* FOOTER *******/
footer{
    background-color:#F2F2F2 ;
    margin-top: 30px;
    max-width: 1440px;
    box-sizing: border-box;
    margin-left: 50px;
    margin-right: 50px;
}
.footer{
    gap: 30px;
}
.footer div{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    width: 33%;
}
.footer div h2{
    font-size: 18px;
    margin: 0px;
}
footer a:hover{
    text-decoration: underline;
}

/* Le code ci-dessous correspond à la version responsive uniquement */
@media(max-width:1290px){
    .activites-cards .card img{
        height: 85%;
    }

    .activites-cards .card h3{
        font-size: 14px;
       }
}
@media (max-width:1225px) {
    .hebergements-cards{
        gap:25px
    }
    .populaires-cards{
        gap: 25px;
    }
    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 12px;
    }
    .hebergements-cards .card-title{
        font-size: 14px;
    }
    .hebergements-cards .card-subtitle{
        font-size: 12px;
    }
    .populaires-cards img {
        height: 125px;
    }
    footer div h2{
        font-size: 14px;
    }
    footer div a{
        font-size: 12px;
    }
    
}
@media (max-width:1120px) {
    .populaires-cards .card-title {
        font-size: 12px;
    }
    .populaires-cards img {
            height: 120px;
        }
    .populaires-cards .card-subtitle {
        font-size: 11px;
    }
    .hebergements-cards .card-title{
        font-size: 12px;
    }
    .hebergements-cards .card-subtitle{
        font-size: 11px;
    }
   
   
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) { 
    .filtres{
        flex-direction: column;
        gap: 20px;
    }
    .hebergements-and-populaires {
        flex-direction: column;
    }
    .hebergements-cards{
        gap:30px
    }
    /**** hebergements ***/
    .hebergements {
        width: 100%;
    }
    .hebergements-cards .card-title{
            font-size: 16px;
    }
    .hebergements-cards .card-subtitle{
            font-size: 14px;
    }
    /**** populaires **/
    .populaires-cards .card-title {
        font-size: 16px;
    }

    .populaires-cards .card-subtitle {
        font-size: 14px;
    }
   
    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }
    footer div h2{
        font-size: 18px;
    }
    footer div a{
        font-size: 16px;
    }
  /****** activité ******/
    .activites-cards .card{
        width: 25%;
    }
    .activites-cards .card img{
        height: 80%;
        width: 100%;
        max-height: 200px;

    }
    .activites-cards .card h3{
        font-size: 14px;
    }
   
}
@media(max-width:830px){ 
.hebergements-cards{
    gap: 25px;
}
.hebergements-cards .card-title{
    font-size: 14px;
}
.hebergements-cards .card-subtitle{
        font-size: 12px;
}
.populaires-cards .card-title {
    font-size: 14px;
}

.populaires-cards .card-subtitle {
    font-size: 12px;
}
.activites-cards .card img {
    height: 80%;
}
.activites-cards .card h3{
    font-size: 12px;
}  

.activites-cards{
    gap:25px
}
footer div h2{
    font-size: 14px;
}
footer div a{
    font-size: 12px;
}
}
@media (max-width: 780px){
  
    .hebergements-cards a {
        width: 30%;
    }

    .filtres-choix div strong{
        font-size: 14px;
    }



}
    

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
   
    
    body{
        overflow-x: hidden;
    }
    header{
        padding: 0 20px;
    }
    .main-container{
        padding: 0%;
    }
   .hebergements-and-populaires{
        flex-direction: column-reverse;
        gap: 15px;
    }
    .hebergements-and-populaires section{
        border-radius: 0%;
        padding: 20px;
    }
    /*** nav ***/
    nav img{
        margin-left: 0px;
    }
    nav{
        flex-direction: column;
        margin:0px;
        align-items: center;
        gap: 10px;
    }
    nav ul{
        gap:0px;
        width: 100%;
        padding-left:  0px;
        margin-bottom: 0px;
    }
    nav ul li{
        width: 100%;
        text-align: center;
        padding-bottom:17px;
        border-bottom: 2px #FFFFFF solid;
    }

    nav ul li a:hover{
        border-top :none;

    }
    nav ul li:hover{
        border-bottom: 2px #0065FC solid; 
        color: #0065FC;  
    }
    /**** header *****/
    .recherche form{
        width: 65%;
    }
    .recherche{
        justify-content: center;
        max-width: none;
        margin-right: 0px;
       
    }
    .recherche button{
        display: none;
    }
    .recherche input{
        width: 100%;
        max-width: none;
    }
    .recherche form{
        width: 80%;
        max-width: none;
    }
    .r-logo{
        min-width: 50px;
    }
   
    #btn-phone {
        display:inline;
        background-color: #0065FC;
        padding-left: 16px;
        padding-right: 16px;
        border-radius: 15px;
        height: 51px;
        width: 51px;
        text-align: center;
        border: 1px #0065FC solid;
        margin-left: -10px;
    }
    #btn-phone i {
        color: #FFFFFF;
        font-size: 18px;
        font-weight: 700;
    }

    .filtres-choix{
        justify-content: center;
    }
    .filtres-choix{
        display: grid;
        grid-template-columns: 50% 50%;
        margin-left: 2%;
        margin-right: 2%;
    }
    
    /*** hebergements ***/
   
    .hebergements-cards .card-title{
        font-size: 16px;
    }
    .hebergements-cards .card-subtitle{
        font-size: 14px;
    } 
    .hebergements{
        background-color:#FFFFFF ;
        flex-direction: column;
        gap: 0px;
    }
    .hebergements .section-title{
        margin-bottom: 30px;
    }  
    .hebergements-cards{
        
        flex-direction: column;
        align-items: center;
        gap:15px;
        width: 100%;
        
    }
    .hebergements-cards a{
        width: 100%;
        max-width: none;
    }
    .hebergements-cards article{
        width: 100%;
    }
    .hebergements-cards .card img{
        object-fit: cover;
    }
 /*** populaires ****/
    .populaires{
        background-color: #F2F2F2;
        margin-top: 0%;
    }
    .populaires-cards{

        flex-direction: column;
        gap: 15px;
        align-items: center;
    } 
    .populaires-cards .card-title {
        font-size: 16px;
    }

    .populaires-cards .card-subtitle {
        font-size: 14px;
    }
    .populaires-cards a {
        width: 100%;
    }
    .populaires-cards .card{
        margin-top: 0px;
    }
    .populaires-title{
        margin-bottom: 30px;
    }
   
    #afficher-plus{
        margin-top: 10px;
    }
  /****** activités ***/
    .activites{
        padding: 20px;
    }
    .activites-cards{
        flex-direction: column;
        align-items: center;
        gap:15px;
    }
    .activites-cards .card img{
        height: 141px;
        width: 100%;
    }
    .activites-cards .card{
        width: 100%;
    }
    .activites-cards .card h3{
        font-size: 16px;
    }
    /***** Footer ******/
    footer{
        margin-left: 0%;
        margin-right: 0%;
        padding: 30px;
    }
    .footer {
        flex-direction: column;
        gap: 15px;
    }
    .footer div{
        
        width: 100%;
    }
    footer div h2{
        font-size: 16px;
    }
    footer div a{
        font-size: 14px;
    }
}

@media (max-width:450px) {
    .filtres-choix div strong{
        font-size: 80%;
    }
    .filtres-choix div i{
        font-size: smaller;
    }
    .filtres-choix div{
        padding-left: 15px;
        padding-right: 5px;
    }
}
@media(max-width:390px){
    header h1 {
        font-size: 20px ;
    }
    header p{
        font-size: 14px;
    }
  
    .recherche form{
        width: 70%;

    }

    .recherche .logo-localisation{
        margin: 0px;
    }
    ::placeholder{
        font-size: 14px;
    }  
    .filtres-choix div strong{
        font-size: 70%;
    }
    .hebergements h2{
        font-size: 19px;
    } 
    .hebergements-cards .card-title{
        font-size: 14px;
    }
    .hebergements-cards .card-subtitle{
        font-size: 12px;
    }
    .populaires-cards .card-title {
        font-size: 14px;
    } 
    .populaires h2{
        font-size: 19px;
    }

    .populaires-cards .card-subtitle {
        font-size: 12px;
    }
   
    .activites-cards .card h3{
        font-size: 14px;
    } 
    
    .activites h2{
        font-size: 19px;
    }
    footer div h2{
        font-size: 14px;
    }
    footer div a{
        font-size: 12px;
    }
}
@media(max-width:335px){
   
    .recherche input{
        text-align:left;
        padding-left: 15px ;
    }
    
   
}